BOT_TOKEN=8404030132:AAF2qdyCzuXFyL3qVjDe8BzwXcz3a1Ved9A

# Webhook з сайту (опціонально)
SITE_WEBHOOK_SECRET=super-secret-from-your-site

# Твоє API (вставляєш сам)
YOUR_API_BASE_URL=https://your-api.com
YOUR_API_KEY=your-secret-key

# Redis
REDIS_URL=redis://localhost:6379/0

DEBUG=True
LOG_LEVEL=INFO
